<div class = "Grand_Titre" ><h1>Bienvenue sur The Gossip Project</h1>
  <h4>Lâche-toi et viens contribuer avec les autres gossipeurs. Pour créer un nouveau gossip,</h4>
  <%= link_to "Crée un potin", new_gossip_path, class:'btn btn-outline-primary'%>
</div>

<div class="card-deck">
  <%@gossip.all.each do |i|%>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-header">
          Gossip #<%=i.id%>
        </div>
        <div class="card-body align-center">
          <p><%=i.title%><br/>
          <%= i.content %></p>
          <div class="row justify-content-between align-self-center mx-3">
            <%= link_to "Voir le potin", gossip_path(i.id), class:'btn btn-primary' %>
            <%= link_to "Auteur", profile_path(i.author.id), class:'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
